*DS_Store
.idea

*.db*
*.uuid
*.log
*.xml
*.db-journal
*.sqlite
*.txt
.ios.conf
.HA_VERSION
.spotify-token-cache
custom_components/__pycache__/**/*.*
homebridge/
deps/

known_devices.yaml
secrets.yaml

www
graph.svg
